#spaceship {
  background: url("../images/spaceship.png") no-repeat 5% -3000px ;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
  }
}
#spaceship-bg {
  background: url("../images/spaceship_bg.png") no-repeat center 100% fixed;
}

