BODY {
	BACKGROUND-COLOR: #000000
}
A:link {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:hover {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:visited {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
A:active {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
#loginbox {
	BORDER-RIGHT: #717274 1px solid; BORDER-TOP: #717274 1px solid; Z-INDEX: 10; LEFT: 50%; VISIBILITY: hidden; MARGIN-LEFT: -66px; BORDER-LEFT: #717274 1px solid; WIDTH: 130px; COLOR: #aaaaaa; BORDER-BOTTOM: #717274 1px solid; POSITION: absolute; TOP: 370px; HEIGHT: 80px; BACKGROUND-COLOR: #000000
}
#anmeldbox {
	BORDER-RIGHT: #717274 1px solid; BORDER-TOP: #717274 1px solid; Z-INDEX: 10; LEFT: 50%; VISIBILITY: hidden; MARGIN-LEFT: -66px; BORDER-LEFT: #717274 1px solid; WIDTH: 130px; COLOR: #aaaaaa; BORDER-BOTTOM: #717274 1px solid; POSITION: absolute; TOP: 250px; HEIGHT: 80px; BACKGROUND-COLOR: #000000
}
.boxtable {
	MARGIN-TOP: 5px
}
.smallbutton {
	FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(images/smallbutton.jpg); VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.pointer {
	CURSOR: pointer
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
